@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto'
}

* {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}